@import "bootstrap/bootstrap.scss";
@import "fontawesome/scss/font-awesome.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "IRANSans";
  direction: rtl;
}

// html {
//   font-size: 15pt;
// }

h1{color: $gray-darkest }
h2{color: $gray-darker }
h3{color: $gray-dark }
h4{color: $gray }
