@import "../bootstrap/variables";

.form-control:focus {
    border-color: $gray_lighter;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus, .custom-select.is-invalid:focus {
    box-shadow: none;
    border-color: $pink;
}

.form-control.is-valid:focus {
    box-shadow: none;
    border-color: $green;
}


.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon i {
  position: absolute;
  padding: 10px;
  padding-right: 15px;
  pointer-events: none;
}

/* align icon */
.left-addon i  { left:  0px;}
.right-addon .icon { right: 0px;}

.valid-icon{
    color: $green //TODO refactor this to a mixin if necessary
}

.invalid-icon {
    color: $pink;
}

.hidden-icon {
    display: none;
}

.right-addon .icon {
    color: $gray-lighter;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 40px; }

// Transitions
.fade-enter {
    opacity: 0;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: 500ms ease-in;
  }
  
  .fade-leave {
    opacity: 1;
  }
  
  .fade-leave.fade-leave-active {
    opacity: 0;
    transition: 300ms ease-in;
  }


  //////////// Styles for Qty


.qty-increase {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    z-index: 100;
    border-color: transparent;
    border-bottom-color: $gray-lighter;
  
    &:hover, &:focus {
      border: 0 0 1px 0;
      border-color: transparent;
      border-bottom-color: $gray-lighter;
    }
  }
  
  .qty-decrease {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-color: transparent;
  
    &:hover, &:focus {
      border-color: transparent;
    }
  }
  
  .qty-button {
    &:hover {
      background-color: $gray-dark;
    }
    & i {
      font-size: 9px;
    }
  }
  
  .qty-button {
    background-color: $gray;
  }
  
  .qty-container { 
    border-radius: 0.3rem;
    background-color: $gray-lightest;
    border-top: 1px $gray;
    display: flex;
    width: 70px;
  }
  
  .qty-input {
    background-color: transparent;
    display: inline-flex;
    border: none;
    -moz-appearance:textfield;
    min-width: 50px;
    flex: 1 1 auto;
  
    &:focus {
      background-color: transparent;
      border: none;
    }
  
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
  }
  


